# Włącz przepisywanie URL
RewriteEngine On

# Przekieruj wszystko, co nie jest plikiem lub folderem, na index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
